<header class="header" >
    <div class="text-vertical-center">
        <% if @applicants.length != 0 %>
            <% @applicants.each do |user| %>
                <h3><%= user.studentNumber %> - <%= user.applicantName %>  -  <%= user.phoneNumber %></h3>
            <% end %>
        <% else %>
            <h2>NONE</h2>
        <% end %>
    </div>
</header>