<!-- intro section -->
<header class="header" >
    <div class="text-vertical-center">
        <div class="intro">
            <h1>GnB</h1>
            <h3>지앤비는 知(알 지) 와 飛(날 비)의 합성어 입니다</h3>
            <br>
            <a href="#summary" class="btn btn-dark btn-lg scrollTop">더 알아보기</a>
        </div>
    </div>
</header>
<!-- summary section -->
<header class="summaryHeader">
    <div class="text-vertical-center">
        <center>
            <div id="summary">
                <div class="summary row">
                    <h2>0.5학기만에 웹 서비스 만들기</h2>
                    <br>
                    <h3>비전공자도 빠르고 쉽게 웹 페이지 제작이 가능한</h3>
                    <br>
                    <h3>Ruby on Rails를 이용한 수업입니다</h3>
                    <br>
                    <h2>많은 지원 바랍니다</h2>
                </div>
                <div class="detail row">
                    <a data-toggle="modal" data-target="#aboutRails">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 colForDetail">
                            <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
                                <h2>Ruby on Rails 란 ?</h2>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#aboutLecture">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 colForDetail">
                            <i class="fa fa-question fa-5x" aria-hidden="true"></i>
                            <h2>수강 준비 방법</h2>
                        </div>
                    </a>
                    <a data-toggle="modal" data-target="#aboutCurriculum">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 colForDetail">
                            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
                            <h2>수업 순서 알아보기</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <a href="#apply" class="linkToApply scrollTop">
                    <center>
                        <div class="arrow">
                            <h2>지원 하러 가기</h2>
                            <i class="fa fa-angle-double-down fa-5x" aria-hidden="true"></i>
                        </div>
                    </center>
                </a>
            </div>
        </center>
    </div>
</header>
<!-- apply section -->
<header class="bottom">
    <div class="text-vertical-center">
        <center>
            <div id="apply">
                <h2>지원서</h2>
                <form method="post" action="/apply">
                    <div class="inputWrapper">
                        <label for="studentNumber">
                            <h3>학번</h3>
                        </label><br>
                        <input class="inputStyle" type="text" name="studentNumber" oninput="_onChange(event)" placeholder="학번을 입력해주세요" required/>
                    </div>
                    <div class="inputWrapper">
                        <label for="applicantName">
                            <h3>이름</h3>
                        </label><br>
                        <input class="inputStyle" type="text" name="applicantName" placeholder="성함을 입력해주세요" required/>
                    </div>
                    <div class="inputWrapper">
                        <label for="applicantName">
                            <h3>휴대폰 번호</h3>
                        </label><br>
                        <input class="inputStyle" type="text" name="phoneNumber" oninput="_onChange(event)" placeholder="'-'를 제외한 번호만 입력해주세요" required/>
                    </div>
                    <div class="inputWrapper">
                        <button type="submit" class="btn btn-dark btn-lg">제출</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</header>
<!-- Modal for Rails -->
<div id="aboutRails" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h2 class="aboutRailsTitle">Ruby on Rails</h2>
      </div>
      <div class="modal-body">
        <h3 class="aboutRailsBody">
            <h3>루비 온 레일즈(Ruby on Rails)는 루비로 작성된 MVC 패턴을 이용하는 오픈 소스 웹 프레임워크입니다.</h3><br>
            <h3>특히 데이터베이스를 이용한 웹 애플리케이션을 개발시, 반복되는 코드를 대폭 줄여 개발 기간을 단축하는 것으로 인기를 끌고 있습니다.</h3><br>
            <a target="_blank" href="https://ko.wikipedia.org/wiki/%EB%A3%A8%EB%B9%84_%EC%98%A8_%EB%A0%88%EC%9D%BC%EC%A6%88">
                <h3>자세히 알아보기</h3>
            </a>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img class="img-rounded sampleImage" src="<%= image_url('github.png') %>" /><br>
                    <h3>GitHub</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img class="img-rounded sampleImage" src="<%= image_url('airbnb.png') %>" /><br>
                    <h3>Airbnb</h3>
                </div>
                <!--<div class="col-md-4 col-sm-6">
                    <img class="img-rounded sampleImage" src="<%= image_url('jasosul.jpg') %>" /><br>
                    <h3>자소설 닷컴</h3>
                </div>-->
                <div class="col-md-4 col-sm-4">
                    <img class="img-rounded sampleImage" src="<%= image_url('twitter.png') %>" /><br>
                    <h3>Twitter</h3>
                </div>
            </div>
            <h3>이외에도 많은 서비스가 Ruby on Rails로 생산되고 있습니다.</h3>
        </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <h4>Close</h4>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Lecture-->
<div id="aboutLecture" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h2 class="aboutLectureTitle">수강 준비</h2>
      </div>
      <div class="modal-body">
        <div class="aboutLectureBody">
            <h2>Ruby on Rails 를 이용하기 위한 개발 환경 설정 방법을 살펴 보겠습니다.</h2><br>
            <h3>강의는 기본적으로 <a target="_blank" href="http://c9.io">cloud9</a>이라는 클라우드 개발 환경에서 진행됩니다.</h3><br>
            <h3>하지만 로컬(인터넷 연결없이) 환경에서 지속적인 개발을 원하신다면 아래 방법을 추천합니다.</h3><br>
            <h3>1. <a target="_blank" href="https:///rvm.io/">RVM(Ruby Version Manager)</a> -> Linux 나 Mac 환경에서 추천</h3><br>
            <h3>2. <a target="_blank" href="https://rorlab.gitbooks.io/railsguidebook/content/contents/rails/windows_install.html">RailsFTW(Ruby on Rails For The Windows)</a> -> Window 환경에서 추천</h3><br>
            <h3>별도의 개발 환경 설정없이 c9 계정만 만들어 오셔도 수강에 지장은 없습니다.<br>(신규 c9 계정 생성시, 5-10분가량 소요되므로 미리 생성하시고 참여 해주시기 바랍니다)</h3><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <h4>Close</h4>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Curriculum-->
<div id="aboutCurriculum" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h2 class="aboutCurriculumTitle">강의 순서</h2>
      </div>
      <div class="modal-body">
        <div class="aboutCurriculumBody">
            <h3>1주차. MVC란 무엇인가?</h3>
            <h4>MVC 디자인 패턴 및 기본적이지만 놀라운 루비의 기능을 설명한다</h4>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <h3>2주차. 간단한 게시판 만들기</h3>
            <h4>3주차 수업을 위한 준비의 일환으로 form 태그의 사용을 배워보자</h4>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <h3>3주차. CRUD란?</h3>
            <h4>
                2주차 수업의 심화 과정으로 CRUD를 모두 적용한 게시판을 만들어보자
                <!-- bootstrap 강의도 시간이 된다면 실시 -->
            </h4>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <h3>4주차. Gem이란 무엇인가?</h3>
            <h4>당장 구현하기 힘든 기술을 만들어 놓은 Gem의 사용을 배워보자</h4>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <h3>5주차. Bootstrap이란 무엇인가?</h3>
            <h4>bootstrap을 이용해 꾸미는 방법을 배워보자</h4>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <h3>6주차. 나만의 블로그 만들어 보기</h3>
            <h4>Ruby on Rails를 사용해 나만의 블로그를 만들어 보자</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            <h4>Close</h4>
        </button>
      </div>
    </div>
  </div>
</div>