@font-face {
    font-family: 'Font';
    src: url(yanolza_regular.ttf);
}

* {
    font-family: 'Font';
}

body {
    overflow-x: hidden;
}

.bottom {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(bottom.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.inputStyle {
    border: none;
    background: transparent;
    border-bottom: 1px dashed grey;
    width: 100%;
    font-size: 25px;
    text-align: center;
}

.inputWrapper {
    margin-bottom: 4%;
    width: 50%;
}

.inputWrapper > button {
    width: 100%;
}

.summaryHeader {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.summary {
    background-color: #7cb9db;
    color: #ffffff;
    width:100%;
    height:100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.detail {
    background-color: white;
    color:black;
    width:100%;
    height:100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.detail > a {
    color: black;
    text-decoration: none;
}

.detail > a:hover {
    opacity: 0.7;
    cursor: pointer;
}

.fa-diamond,
.fa-question,
.fa-calendar {
   margin-bottom: 2%;
}

.arrow {
    -webkit-animation: bounce 2s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

.modal {
    text-align: center;
}

.modal-dialog {
    width: 50%;
}

.sampleImage {
    width: 100%;
}

.linkToApply,
.linkToApply:hover,
.linkToApply:visited,
.linkToApply:link{
    text-decoration: none;
    color: black;
}

.alert {
    font-size: 25px;
    text-align: center;
}